body{
	background-color: rgb(255,255,255);
	color: rgb(30,30,30);
	font-family: 'Roboto Condensed', sans-serif;
	}

h1,h2{
	font-weight: 540;
	color: black;
	}
 
}

a {
	text-decoration: none;
	color:green;
	}

a:hover{
	color:purple;
	transition: color 0.25s ease;
	}

.Total_Page{
	display: flex;
	flex-direction: row;
	width: auto; /* set the width of your container */
	margin: 50px;
	}

#Header{
	margin-left: 50px;
	}

#Swan{
	border-radius: 50%;
	max-height: 300px;
	max-width: 300px;
	margin-left: 100px;
	margin-top: 40px;
	}

.Text{
	width: 800px;
	padding: 20px;
	flex-direction: column;
	margin-left: 200px;
	margin-top: 120px;
	margin-bottom: 120px;
	}


